*{
  margin:0;
  padding:0;
}
.image1{
  text-align: center;
  margin: 11vh 0;
}
.flexSignin{
  display:flex;
  justify-content: center;
  align-items: center;
  /* margin:15vh 30vw; */
  background-color: white;
  flex-wrap: wrap;
  border-radius: 5px;
  border:6px inset black;
}
img{
  /* border: 6px solid black; */
  border-radius: 200px;
}
.big_header{
  color:black;
  text-align:center;
  /* margin:6vh 2vw; */
  font-family: 'IM Fell English SC', serif;
  font-size:50px;
}

.do{
  font-size: small;
  font-family: 'Titillium Web', sans-serif;
  
}

.div1{
  /* margin:15vh 30vw; */
  background-color: white;
  color:black;
  padding:2vh 0vw;
  /* border-radius: 5px;
  border:6px inset whitesmoke; */

}

.head{
  color:black;
  font-family: 'Inconsolata', monospace;
}

.div1{
  text-align:center;
}

body{
  background-color: whitesmoke;
  /* background-size:cover; */
}

.footer{
  color:black;
  position: relative;
  bottom:0;
  text-align:center;
  font-family: 'Ephesis', cursive;
  font-size:x-large;
}

.flexContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin:15vh 30vw; */
  flex-wrap: wrap;
  margin: 13vh 0;
}

input{
  border-radius: 5px;
  padding:10px;
  margin:2vh 2vw;
  font-family: 'Titillium Web', sans-serif;
}

button{
  border-radius: 5px;
  padding:10px;
  margin:2vh 2vw;
  background-color:rgb(74, 119, 202);
  color:black;
  font-family: 'Titillium Web', sans-serif;
}

input:hover{
  opacity:0.7;
}

button:hover{
  opacity:0.7;
}
